.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/race_monitor.iml
.idea/workspace.xml
race_monitor.egg-info/PKG-INFO
race_monitor.egg-info/SOURCES.txt
race_monitor.egg-info/dependency_links.txt
race_monitor.egg-info/not-zip-safe
race_monitor.egg-info/top_level.txt
*.pyc
__pycache__
.vscode/*.*
.idea/vcs.xml