.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rmonitor.iml
.idea/race_monitor.iml
.idea/workspace.xml
*.pyc
__pycache__
.vscode/*.*
.idea/vcs.xml
rmonitor.egg-info/PKG-INFO
rmonitor.egg-info/SOURCES.txt
rmonitor.egg-info/dependency_links.txt
rmonitor.egg-info/not-zip-safe
rmonitor.egg-info/top_level.txt
